.videoCard{
    margin-bottom: 50px;
    width: 270px;
    
}

.videoCard_thumbnail{
    height: 140px;
    width: 250px;
    cursor: pointer;
}

.videoCard_info{
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
    cursor: pointer;
}

.videoCard_text{
    margin-left: 15px;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.videoCard_text > h4 {
    font-size: 16px;
    margin-bottom: 8px;
}

.videoCard_text > p{
    font-size: 14px;
    color: gray;
}

.videoCard_avatar{
    height: 40px !important;
    width: 50px;
}